html { overflow-x:hidden; }
.grid-btn{
    margin-bottom:12px;
}
.grid-btn .btn{
    margin-right:10px;
}
.panel .table { margin:0 0; }
.panel .pagination { margin:0; }
.panel-default>.panel-heading {background-color: #f5f5f5;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
    width:550px;padding-top:20px;
}